<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Eeventoo{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('ic_app.png') }}" />
    {% endblock %}


</head>


{% image '@EventooCoreBundle/Resources/public/img/ic_app.png' %}
<img src="{{ asset_url }}" alt="" class="img-responsive center-block" />
{% endimage %}

<div id="wrap">
    <div class="container">
        <div class="alert alert-info"  >
            {% block body %}
                <h4>{{ "La création du site est en cours. Veuillez nous en excuser"}}</h4>
            {% endblock %}
        </div>
    </div>
</div>